{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6 ">
        <h1>{{request.user.email}}</h1>
    </div>
</div>
<div class="row justify-content-center my-4">
    <div class="col-6 border-top border-bottom py-3 text-right ">
        <a class='btn btn-primary' href='{% url "create_questionnaire" %}'> Nowa </a>
    </div>
</div>
{% if questionnaires %}
<div class="row justify-content-center my-3">
    <div class="col-6 bg-white p-3 rounded shadow">
        <div class="p-2 text-success">
            <h4>Moje ankiety</h4>
        </div>
        <table class="table ">
            <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            {% for quest in questionnaires %}
            <tr>
                <td><a href="{% url 'detail_questionnaire' id=quest.id %}">{{quest.name}}</a></td>
                <td>{{quest.created_at|naturaltime}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        Nie stworzono żadnej ankiety
    </div>
</div>
{% endif %}


{% endblock %}