{% extends 'base.html' %}

{% block content %}
<div class="row h-100 justify-content-center">

     <!--left nav-->
    <div class="d-none d-lg-block col-2  bg-dark py-4 shadow-sm">
        <nav class="nav flex-column">
           <a class="nav-link my-link" href="{% url 'update_profile' %}">Profil</a>
           <a class="nav-link" href="{% url 'password_change' %}">Hasło</a>
           <a class="nav-link" href="{% url 'delete_profile' %}">Usuń</a>
        </nav>
     </div>

    <!--    settings profile-->
    <div class="col-10 ">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-7 p-2 col-md-6 col-xs-5">
                <h5> Użytkownik / {{request.user.email}}</h5>
            </div>
        </div>
        <!--form-->
        <div class="row justify-content-center pt-2 pb-4 px-1">
            <div class="col-lg-8 col-md-8 col-xs-8 py-3 mt-4 border rounded-left bg-white">

                <div class="row border-top py-3">
                    <div class="col-lg-12 p-3   ">
                        {% block profile %}

                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
