{% extends 'polls/base.html' %}

{% block polls %}
<div class="row justify-content-center">
    <div class="col-10 bg-white p-3 rounded shadow">
        {% if questionnaire.status %}
        <div class="text-center">
            <h4>Wyniki dla ankiety</h4>
        </div>
        <div class="py-2 px-3">
            <h3>{{questionnaire.name}}</h3>
            <p class="text-info">Liczba ankietowanych :
                <span class="text-success font-weight-bold">{{respondents}}</span>
            </p>
        </div>
        {% block closed_question %}
        {% include "polls/analysis/closed_questions.html" %}
        {% endblock %}

        <hr>
        <div class="text-primary text-center"><h4>Pytania otwarte.</h4></div>
        <div class="px-4">
            <!-- open questions where type == text  -->
            {% for q in questions_open_text %}
                <div class="pt-3 px-3 pb-2 "><h4>{{q.contents}}</h4></div>
                {% for a in q.answer_set.all %}
                    {% if a.openanswer.contents %}
                    <div class="border p-2 mb-1"><p>{{a.openanswer.contents}}</p></div>
                    {% endif %}
                {% empty %}
                    <div class="p-2 text-primary"> <p>Brak odpowiedzi</p></div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- open questions where type == number  -->
        <div class="px-4">
            {% for q in questions_open_number %}
                <div class="pt-3 px-3 pb-2 "><h4>{{q.contents}}</h4></div>
                {% for a in q.answer_set.all %}
                    {% if a.openanswer.contents %}
                    <div class="border p-2 mb-1"><p>{{a.openanswer.contents}}</p></div>
                    {% endif %}
                {% empty %}
                    <div class="p-2 text-primary"> <p>Brak odpowiedzi</p></div>
                {% endfor %}
            <!--  analysis for numerical data -->
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Suma</th>
                        <th scope="col">Średnia</th>
                        <th scope="col">Odch. Stand</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-warning">
                        <td>{{q.sum}}</td>
                        <td>{{q.avg}}</td>
                        <td> {{q.stan_dev}}</td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
        {% else %}
        <p class="alert warning">Aniekta nie jest udostepniona</p>
        {% endif %}
          <hr>
    </div>

</div>
{% endblock %}