{% extends 'base.html' %}

{% block content %}
<div id='app-create-question' class="row justify-content-center mt-4">
    <div class="col-6">
        <form action="{% url 'create_question'  id=questionnaire_id %}" method="POST" class="bg-white p-3 rounded justify-content-start" >
            {% csrf_token %}
            <div class="form-group px-3">
                <input type="text" placeholder="Treść pytania" class="form-control" name="contents-question">
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip04">typ pytania</label>
                <select class="custom-select" id="validationTooltip04" name='type' v-model="selected" required>
                    <option value="choices">pytanie zamknięte</option>
                    <option value="text">text</option>
                    <option value="number">liczba</option>
                </select>
                <div class="invalid-tooltip">
                    Please select a valid state.
                </div>
            </div>
            <!--Choices field -->
            <div v-if="selected == 'choices'" class='m-3 col-12'>
                <div class="form-group ">
                    <input type="number" placeholder="maksymalna liczba wyborów" class="form-control" name="number_of_choices" value=1>
                </div>
                <div class='btn btn-success py-2' v-on:click="addChoice">Dodaj opcje</div>
                <div v-for="(choice, index) in choices" v-bind:key="choice">
                    <div class='d-flex py-1'>
                        <input type="text" class='form-control' :placeholder="'opcja'+' '+index+': '+choice" :name="'contents-choice'">
                        <i class="fas fa-times p-2 text-danger" v-on:click='deleteChoice(choice)'></i>
                    </div>
                </div>
            </div>
            <input type="submit" class='btn btn-primary' value="Zapisz">
        </form>
    </div>
</div>

{% block script %}
<script>
    var appDelete = new Vue({
        el: '#app-create-question',
        delimiters:['[[',']]'],
        data:{
            selected:'',
            counter: 0,
            choices: [],
        },
        methods: {
            addChoice(){
                this.choices.push(this.counter);
                this.counter++;
            },

            deleteChoice(choice){
                this.choices.splice(this.choices.indexOf(choice), 1);
            },
            deleteAccount:function(e){
                this.isYes = confirm("Czy na pewno chcesz usunąć konto?")
                console.log(this.isYes)
                if( this.isYes ){
                    this.$el.submit()
                }
                
            }
        },
    })
</script>

{% endblock %}
{% endblock %}