{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-7 p-0">
        <a class="btn btn-dark" href="{% url 'index' %}"> <i class="fas fa-arrow-left"></i> wróć do poprzedniej strony</a></div>
     </div>
{% endif %}
<div class="row justify-content-center py-4">
    <div class="col-7 bg-white rounded shadow py-2 px-2">

        <div class="p-3 text-center">
            <h5>Ankiety które możesz wypełnić! </h5>
        </div>
        <table class="table">
          <thead>
            <tr>

            </tr>
          </thead>
          <tbody>
            {% for q in questionnaires %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="{% url 'display_questionnaire' questionnaire_code=q.code %}">{{q.name}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}