.navbar-custom{
    background-color: #58d590;
}
.navbar-custom .navbar-nav .nav-link { 
    color: white;
}
.navbar-custom .navbar-brand { 
    color: white;
}
.btn{
    border-radius: 0px;
}
.custom-checkbox .custom-control-label:before{
    border-radius: 0%;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{

}
