{% extends 'base.html' %}
{% load humanize %}

{% block content %}
hjhhjdhhsdhfjdshfjsdhfjdhfjskfhjk nmn
<div id='app-questionnaire'>
<div class="row justify-content-center my-4">
    <div class="col-lg-8 col-md-10 col-xs-12 pr-4">
        <div class="">
            <h3>{{questionnaire.name}}</h3>
            <p> {{questionnaire.created_at|date:"D d/m/Y"}}</p>
            {{answers}}
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-xs-12">
        <div class="row justify-content-center">
            <div class="col-12 ">
                {% for question in questionnaire.question_set.all %}
                <div class='bg-white rounded shadow p-2 mb-1'>
                    <!--display question and its choices if are closed questions-->
                    <div class="px-3 py-2">
                        <div class="">
                            <h4>{{question.contents}}</h4>
                        </div>
                        <ul>
                            {% for choice in question.choice_set.all %}                         
                                {% if question.type == 'single-choice' %}
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio-{{choice.id}}" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio-{{choice.id}}">{{choice.contents}}</label>
                                  </div>
                                {% elif question.type == 'multiple-choice' %}
                                <div class="custom-control custom-checkbox checkbox-dark">
                                    <input type="checkbox" class="custom-control-input " id="customCheck-{{choice.id}}">
                                    <label class="custom-control-label" for="customCheck-{{choice.id}}">{{choice.contents}}</label>
                                  </div>
                                {% endif %}
                            {% endfor %}
                            {% if question.type == 'number' %}
                            <div class="form-group">
                                <input type="number" class="form-control"  placeholder="Wpisz liczbe">
                            </div>
                            {% elif question.type == 'text' %}
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            {% endif %}
                        </ul>
                        <p>typ pytania to: {{question.type}} </p>
                    </div>
                    {% for answer in question.answer_set.all %}
                    <ul>
                       {% if answer.respondent.user.id == request.user.id %}
                        <li>
                            <ul>
                                {% for a in answer.closedanswer_set.all %}
                                <li>{{a.choice.contents}}</li>
                                {% endfor %}
                                {{answer.openanswer.contents}}
                            </ul>
                            
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
</div>
</div>

{% block script %}
<script>
    var appDelete = new Vue({
        el: '#app-questionnaire',
        delimiters:['[[',']]'],
        data(){
            return{
                isYes:false,
            }
        },
        methods: {
            deleteQuestionnaire:function(e){
                this.isYes = confirm("Czy na pewno chcesz usunąć ankiete?")
                console.log(this.isYes)
                if( this.isYes ){
                    this.$refs.form.submit()
                }
                
            }
        },
    })
</script>
{% endblock %}
{% endblock %}