{% extends 'base.html' %}

{% block content %}
<div id="app-respondent">
{% if message %}
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        {% block info %}
            {% include "polls/components/message.html" with hi="Witaj" %}
        {% endblock %}
        <a class="btn btn-outline-info " href="{% url 'login' %}" role="button">Przejdz do strony logowania</a>
    </div>

{% else %}

<div class='row justify-content-center'>
    <div class="col-6 ">
        <div class='text-center py-3'>
            <h2>{{questionnaire.name}}</h2>
        </div>
        <div class="text-left d-flex justify-content-between px-2">
            <h6> <small>Stworzona przez: {{questionnaire.creator.username}} </small></h6>
            <h6> <small> {{questionnaire.updated_at|date:"D d m Y"}}</small></h6>
        </div>
        <form action="{% url 'display_questionnaire' questionnaire_code=questionnaire.code%}" method="POST">
            {% csrf_token %}
            {% for question in questionnaire.question_set.all %}
            <div class="bg-white p-3 mb-1  rounded shadow-sm">
                <h5>{{question.contents}}</h5>
                <div>
                    <ul>
                    {% for choice in question.choice_set.all %}
                        {% if question.type == 'single-choice' %}
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio-{{choice.id}}"  value="{{choice.id}}"  name="{{question.id}}" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio-{{choice.id}}">{{choice.contents}}</label>
                        </div>
                        {% elif question.type == 'multiple-choice' %}
                        <div class="custom-control custom-checkbox checkbox-dark">
                            <input type="checkbox" class="custom-control-input " name="{{question.id}}" value="{{choice.id}}"  id="customCheck-{{choice.id}}">
                            <label class="custom-control-label" for="customCheck-{{choice.id}}">{{choice.contents}}</label>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% if question.type == 'number' %}
                    <div class="form-group">
                        <input type="number" class="form-control"  name="{{question.id}}" id="{{question.id}}" placeholder="Wpisz liczbe">
                    </div>
                    {% elif question.type == 'text' %}
                        <div class="form-group">
                            <textarea class="form-control" name="{{question.id}}" id="{{question.id}}" rows="3"></textarea>
                        </div>
                    {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class='mt-4'>
            <button class='btn btn-primary px-3'>Wyślij</button>
        </div>
        </form>
    </div>
</div>


</div>
{% endif %}


{% endblock %}