<nav class="navbar navbar-expand-lg navbar-light bg-white   shadow-sm p-3">
    <a class="navbar-brand" href="{% url 'index' %}">Ankieta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if not request.user.is_authenticated %}
            <a class="nav-link text-dark" href="{% url 'register' %}">Zarejestruj się</a>
            <a class="nav-link active text-success" href="{% url 'login' %}">Zaloguj się <span class="sr-only">(current)</span></a>
            {% else %}
<!--request.user.username|slugify-->
            <a href="{% url 'update_profile'   %}" class="nav-link"> <i class="fas fa-user-circle"></i> {{request.user.username}} </a>
            <a href="{% url 'logout' %}" class="nav-link "> wyloguj </a>
            {% endif %}
        </div>
    </div>
</nav>